<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Location Search Form -->
 <div class="navbar-form navbar-left form-group row-space-2">
   <%= text_field_tag :search, params[:search], placeholder: "どちらまで?", class: "form-control",id:"pac-input" %>
 </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
      <!-- ログインしていない時 -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= link_to 'シッターになる', new_listing_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">利用の流れ</a>
      </li>

      <li><%= link_to('アカウント作成', new_user_registration_path) %></li>
      <li><%= link_to('ログイン',  new_user_session_path) %></li>
      <% else %>
      <!-- ログインしている時 -->
      <li>
        <%= link_to conversations_path do %>
          <i class="fa fa-envelope"></i> メッセージ
        <% end %>
      </li>
      <div class="dropdown">
        <button class="btn dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.provider%>
          <!-- 認証ログインしている時 -->
          <%= image_tag current_user.image, class: 'img-circle profile-0' %>
          <%= current_user.name %>
          <% else %>
          <%= current_user.email.split("@")[0] %>
          <% end %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">
            <%= link_to 'シッターになる', new_listing_path %>
          </a>
          <a class="dropdown-item" href="">
            <%= link_to 'プロフィール', user_path(current_user) %>
          </a>
          <a class="dropdown-item" href="">
            <%= link_to 'プロフィール編集', edit_user_registration_path %>
          </a>
          <a class="dropdown-item" href="">
            <%= link_to 'リスティング管理', listings_path %>
          </a>
          <a class="dropdown-item" href="">
            <%= link_to 'ゲストとしての予約一覧', reservations_path %>
          </a>
          <a class="dropdown-item" href="">
            <%= link_to 'ホストとしての予約一覧',  reserved_path %>
          </a>
          <a class="dropdown-item" href="#">
            <%= link_to('ログアウト', destroy_user_session_path, {method: 'delete'}) %>
          </a>
        </div>
      </div>
      <% end %>
    </ul>

  </div>
</nav>
